@font-face {
	font-family: 'ptsans';
	src: url('font/ptsans.woff') format('woff');
	src: url('font/ptsans.woff2') format('woff2');
	src: url('font/ptsansbold.woff') format('woff');
	src: url('font/ptsansbold.woff2') format('woff2');
}
body {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-family: 'ptsans';
}