body {	
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
	color: #000000;
	font-family: 'PT Sans Regular', Arial, sans-serif;
	margin: 0;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


h1 {
	font-family: 'PT Sans Bold', Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}
h2 {
	font-family: 'PT Sans Bold', Arial, sans-serif;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;

}
h3 {
	font-family: 'PT Sans Bold', Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}

/* СЕТКА */
.main-container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	box-shadow: 0 5px 15px rgba(0 0 0 0.2);

}

/* меню */

.main-menu ul{
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.main-menu li {
	display: inline-block;
	width: 240px;
	vertical-align: top;
	text-align: center;
}

.main-menu li:nth-child(2) {
	margin-right: 240px;
}	


.main-menu a {
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.main-menu a:hover {
	color: silver;
}
.main-menu a:active {
	text-decoration: underline;
}
.logo {
	width: 138px;
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: 3;
}
.main-image {
	position: relative;
	padding: 0;
	padding-top: 76px;
	text-align: center;
	height: 432px;
	background: grey url('../img/sedona-welcome.jpg') no-repeat 50% -56px;
	
}

.main-title {
	width: 800px;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;

}
.main-title h1 {
	font-size: 21px;
	line-height: 26px;
	padding-left: 100px;
	padding-right: 100px;
}
.main-title p{
	margin-bottom: 50px;
	margin-top: 35px;
	
}

.first-feature,
.second-feature {
	width: 100%;
	background-color: #81b3d2;
	color: white;

}
.first-feature h2,
.second-feature h2 {
	color: white;
	padding-top: 42px;
	padding-right: 113px;
	padding-left: 113px;
}

.real-place p,
.second-feature p{
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 0px;
	padding-top: 12px;

}

.first-feature .real-place {
	width: 400px;
	float: left;
	
}
.first-feature .feature-img {
	width: 800px;
	float: right;
	
}
.first-feature img,
.second-feature img {
	vertical-align: bottom;
}


.features-row .features-content {
	margin: 0;
	display: inline-block;
	vertical-align: bottom;
	width: 400px;
	float: left;
	min-height: 331px;
	text-align: center;
	
}
.features-second-row .features-content {
	margin: 0;
	display: inline-block;
	vertical-align: bottom;
	width: 400px;
	float: left;
	min-height: 256px;
	text-align: center;
	
}


.features-content h2 {
	
	margin: 0 auto;
	position: relative;
}
.features-row h2 {
	padding-top: 161px;
}
.features-content p {
	margin-top: 24px;
	margin-bottom: 60px;
	margin-left: 30px;
	margin-right: 30px;
}

.features-second-row .features-content {
	background: #eeeeee;
}
.feature-bridge {
	width: 400px;
	float: right;

}
.feature-bridge-img {
	width: 800px;
	float: left;
}
.real-place,
.feature-bridge {
	text-align: center;
}
h2.features-title-house:before {
	content: "";
	position: absolute;
	background: url(../img/sprites.png) no-repeat;
	background-position: 0 -63px ;width: 75px;
	height: 72px;
	top: 60px;
}
h2.features-title-food:before {
	content: "";
	position: absolute;
	background: url(../img/sprites.png) no-repeat;
	background-position: -97px -65px ;
	height: 72px;
	top: 60px;
}

h2.features-title-present:before {
	content: "";
	position: absolute;
	background: url(../img/sprites.png) no-repeat;
	background-position: -210px -63px ;
	height: 72px;
	top: 60px;
}


.features-title-house {
	width: 74px;
	
}
.features-title-food {
	
	width: 74px;

}
.features-title-present {
	
	width: 64px;
	}


.features-second-row .features-content h2{
	padding-top: 47px;
	padding-left: 110px;
	padding-right: 110px;
	padding-bottom: 26px;
}
.features-second-row .features-content p {
	padding-left: 20px;
	padding-right: 20px;
}
.features-second-row {
	box-sizing: border-box;
	height: 256px;

}

/******************************* форма поиска */	
.choose-hotel {
	position: relative;
	width: 568px;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
}
.choose-hotel h2 {
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 24px;
	
}
.choose-hotel p {
	margin-bottom: 45px;
	font-size: 14px;
	line-height: 24px;
}
.search {
	width: 568px;
	margin: 0 auto;
	padding: 30px 0px;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
}
.search-hotel {
	width: 568px;
	margin: 0 auto;
	padding: 30px 0;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background: #766357;
	cursor: pointer;
}
.choose-hotel-form {
	position: absolute;
	top: 100%;
	z-index: 5;
	width: 568px;
	margin: 0 auto;
	padding: 55px;
	font-size: inherit;
	line-height: 26px;
	box-sizing: border-box;
	box-shadow: 0 7px 7px 3px rgba(0, 1, 1, 0.1);
	background: #ffffff;
}
.schedule {
	position: relative;
	padding-bottom: 30px;
}
.schedule label {
	margin-right: 20px;
	font-weight: bold;
	margin-left: 0;
}
.form-input-date[type="text"] {
	width: 340px;
	height: 38px;
	font-size: 14px;
	font-family: inherit;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 26px;
	padding: 0 13px;
	padding-right: 35px;
	box-sizing: border-box;
	border: none;
	background-color: #f2f2f2;
}
.schedule icon {
	position: absolute;
	bottom: 37px;
	right: 10px;
	font-size: 21px;
	line-height: 26px;
}
.icon-calendar::before {
	color: #c2c2c2;
}

.people {
	position: relative;
	padding-bottom: 30px;
}
.people label {
	margin-right: 20px;
	font-weight: bold;
}
.people .icon {
	position: absolute;
	bottom: 37px;
	right: 10px;
	font-size: 21px;
	line-height: 26px;
}
.counter-adult {
	float: left;
	width: 229px;
}
.counter-kids {
	float: right;
}
.counter-adult .btn,
.counter-kids .btn {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 0 -4px;
	font-size: 14px;
	line-height: 38px;
	color: #a9a9a9;
	vertical-align: middle;
	background-color: #f2f2f2; 
}
.form-input-counter {
	width: 37px;
	height: 38px;
	padding-left: 14px;
	font: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: 38px;
	box-sizing: border-box;
	vertical-align: middle;
	color: #000000;
	background-color: #f2f2f2;
}
.choose-hotel input[type="submit"] {
	width: 100%;
	margin-top: 25px;
	padding: 15px 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
}

.map {
	width: 1200px;
	height: 476px;
	background: green url(../img/map-sedona.jpg) no-repeat;
	background-attachment: scroll;
}
/* ПОДВАЛ */

.main-footer {
	width: 1200px;
	background: rgba(255, 255, 255, 0.9);
	color: #000000;
	position: absolute;
	font-size: 0;
	
}
.main-footer .column {
	display: inline-block;
	bottom: 0;
	font-size: 16px;
}

.footer-hashtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-left: 130px;
	margin-right: 261px;
	margin-top: 40px;
	margin-bottom: 30px;
			
}
.footer-hashtag a {
	text-decoration: none;
	color: #000000;
	margin-top: 50px;
}

.footer-social {
	margin-top: 3px;
	margin-right: 0;
	text-align: center;
}
.footer-social li {
	display: inline-block;
	vertical-align: middle;

}

.social-btn {
	display: inline-block;
	vertical-align: middle;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	font-size: 0;
	position: relative;
	background-color: #81b3d2;
}
.social-btn:hover {
	background-color: purple;
}
.footer-hashtag a:hover {
	color: purple;
}
.footer-copyright {
	float: right;
	max-width: 240px;
	margin-top: 40px;
	margin-right: 100px;
	margin-bottom: 30px;
}
.footer-copyrigt span {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 50px;
}
.footer-copyrigt a {
	display: inline-block;
	width: 115px;
	height: 40px;
	margin-left: 4px;
	margin-top: 4px;

}

/* hotels page */

.filters {
	width: 1200px;
	background: purple url('../img/filter-background.jpg') no-repeat 50% -56px;
	min-height: 217px;
	margin: 0;
	color: white;
	margin-bottom: 30px;
 }
.filters form {
	width: 1060px;
	margin: 0 auto;
	padding: 30px 0;
}
.filters span {
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	padding-bottom: 10px;
}
.infrastructure {
	float: left;
	width: 240px;
	padding-left: 12px;

}
.price {
	float: right;
	width: 330px;
}

.filters input[type="checkbox"] {
	display: none;
}

.filters input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 15px 0 10px 0;
	padding-left: 40px;
	cursor: pointer;
}

.filters input[type="checkbox"] + label::before {
	font-family: "symbols-sedona";
	content: "\2610";
	color: #6a6a6a;
	
	position: absolute;
	top: 2px;
	left: -1px;
	
	width: 17px;
	height: 17px;
	font-size: 26px;
}

.filters input[type="checkbox"]:checked + label::before {
	content: "\2611";
	color: #b5b5b5;
}
	
.filters input[type="checkbox"] + label:hover::before {
	color: #fefefe;
}

.filter-range {
  width: 330px;
  margin: -163px auto; 

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  float: right;
  margin-top: -35px;
  margin-right: 92px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/* сортировка */
.sort {
	width: 1200px;
	margin: 0 auto;

}
.sort-by ul {
	display: inline-block;
	list-style: none;
	
}
.sort-by li {
	vertical-align: top;
	padding-left: 33px;
}
.sort .found{
	width: 126px;
	padding-top: 30px;
	padding-left: 70px;
	padding-bottom: 26px;
	padding-right: 10px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sort .sort-by {
	padding: 36px 10px 0 26px;
	font-size: 12px;
	line-height: 18px;

}

/* -------------------------hotels ---------------------------------*/

.hotel {
	width: 1060px;
	height: 150px;
	margin: 0 auto;
	padding: 30px 0;
	color: #000000;
	background: #fefefe;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}

.hotel-picture {
	float: left;
	width: 135px;
	margin-right: 30px;
	padding-top: 30px;


}

.hotel-type,
.hotel-price {
	font-size: 14px;
	line-height: 21px;
	padding-right: 40px;


}
.about-hotel {
	width: 110px;
	min-height: 27px;
	float: left;
	background: #81b3d2;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	margin-right: 10px;
	margin-left: 170px;
	text-align: center;
}
.book-hotel {
	width: 142px;
	min-height: 27px;
	float: left;
	background: #766357;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
}
.hotel-rating {
	float: right;
	width: 220px;
	margin-top: 12px;
	text-align: right;

}
.icon-star:before {
	content: "\2605\2605\2605\2605\"
}