body {
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	color: #000000;
	font-family: 'PT Sans Regular', sans-serif;
}
h1 {
	font-family: 'PT Sans Bold', sans-serif;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}
h2 {
	font-family: 'PT Sans Bold', sans-serif;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;

}
h3 {
	font-family: 'PT Sans Bold', sans-serif;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}